*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: black;
}

.container{
    display: block;
    background: black;
    position: relative;
}

.circular-text{
    bottom: 6.5%;
    right: 8%;
    position: fixed;
}

.text{
    font-family: "Helvetica";
    line-height: 1.3;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.img-container{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.img-container img{
    cursor: pointer;
    transition: 0.3s all ease;
}
.img-container img:hover{
    transform: scale(1.05);
}

.gfx{
    max-height: auto;
    margin: 4% auto;
    width: 55vw;
    height: 100%;
    max-width: 100%;
}

.gfx1{
    margin-bottom: 8%;
}



.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  padding: 5% auto;
}

.img-container:hover .overlay {
  opacity: 1;
}

.desc {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5% auto;
}

#desc-5{
    padding-bottom: 3%;
}

@media only screen and (max-width: 768px) {
    .img-container1 img:hover{
        margin-bottom: 20%;
    }
    .img-container2 img:hover{
        margin-bottom: 10%;
    }
}