@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

body{
    background:black;
}

.previous-works{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cover{
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: black;
}

h1{
    position: relative;
    color: white;
    width: max-content;
}

h1::before,
h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before{
    background: black;
    animation: typetext 3s steps(18) 1.5s forwards;
}

h1::after{
    width: .125em;
    background: white;
    animation: typetext 3s steps(18) 1.5s forwards,
    blink 800ms steps(18) infinite;

}

@keyframes typetext{
    to{
        left: 100%;
    }
}

@keyframes blink{
    to{
        background: transparent;
    }
}

@keyframes fadeIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.subtitle{
    padding-top: 50px;
    color: white;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeIn 4s ease 5s forwards;
}

.me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: rgb(15, 15, 15);
    color: white;
}

.temp{
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 100px 30px black;
}

.me p{
    font-weight: lighter;
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    font-family: Helvetica;
}



.container{
    display: block;
    background: black;
    position: relative;
}

.circular-text{
    bottom: 6.5%;
    right: 8%;
    position: fixed;
}

.text{
    font-family: Helvetica;
    line-height: 1.3;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}

.contact{
    min-height: 100vh;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact p{
    color: rgb(65, 62, 62);
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    padding-top: 10%;
}

.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-me{
    color: white;
}

label{
    display: block;
    margin: 4%;
    padding-bottom: 10%;
}

button{
    background-color: rgb(43, 39, 39);
    border: none;
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    background: white;
    color: white;
}




.footer-imgs{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

.works-flex{
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.works-flex p{
    font-family: Helvetica;
    color: white;
    font-size: 1em;
}

.works-flex li{
    cursor: pointer;
    transition: 0.3s all ease;
}
.works-flex li:hover{
    transform: scale(0.9);
}

.fade {
  opacity: 0;
}

.linkedin{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: .3s all ease;
}

.linkedin:hover{
     transform: scale(0.9);
     cursor: pointer;
}